﻿@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>ELİF OTEL...</h2>
                    <p>Çeşit çeşit çiçeklerle çevrelenmiş yaşam alanı, kırmızı kumlu eşsiz bir kumsal, lacivertten mora gökkuşağının her renge bürünen Karadeniz’in eşsiz denizi, karşıda dağlar,  Akçakoca’nın her zaman esintili ve nemsiz havası… </p>
                    <br />
                    <p>
                        Akçakoca’nın yanı başında, butik otel anlayışıyla betona
                        yenilmeyip doğayı sahiplenen Elif Otel; huzuru, dinginliği ve sessizliğiyle siz ve aileniz için sakin ve doğayla iç içe bir tatil sunuyor.
                    </p>
                    <br />
                    <p>
                        Akçakoca'nın büyülü güzelliğinde doğa ile insan arasında bir köprü görevi üstlenen otelimizde, huzur içinde bir tatil
                        geçirmenizi diliyoruz.
                    </p>
                    <br />
                    <p>ELİF OTEL'e hoş geldiniz!</p>

                </div>
            </div>

        </div>
    </div>

