﻿@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h2>FİYAT TABLOSU</h2>
                  </div>
        </div>
        <div class="pricing-table">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">

                        <h3>BAHÇE EV</h3>
                        <div class="price">
                            $150<span>/HAFTALIK</span>
                        </div>
                      
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>DELUXE AİLE SUITE</h3>
                        <div class="price">
                            $300<span>/HAFTALIK</span>
                        </div>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>DELUXE ÇİCEK SUITE</h3>
                        <div class="price">
                            $400<span>/HAFTALIK</span>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <h3>DENİZ DELUXE SUITE</h3>
                        <div class="price">
                            $570<span>/HAFTALIK</span>
                        </div>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <h3>DENİZ KING SUITE</h3>
                        <div class="price">
                            $1000<span>/HAFTALIK</span>
                        </div>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <h3>PRESIDENTIAL SUITE</h3>
                        <div class="price">
                            $1500<span>/HAFTALIK</span>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#pricing-->
