﻿@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="portfolio">
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="~/Content/image/tasteras-butik-otel-2.jpg" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="~/Content/image/1320.jpg" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive"  src="~/Content/image/6725422.jpg" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="~/Content/image/92pDE9.png" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="~/Content/image/papazlik-butik-otel-0.jpg" alt="">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="~/Content/image/Villa-Sun-Flower-1-Otel-Odalari-1030x687.jpg" alt="">
                    </div>

                </div>
            </div>
        </div>

    </div>
  
    <div id="portfolio-single-wrap">
        <div id="portfolio-single">
        </div>
    </div><!-- /#portfolio-single-wrap -->
</section><!--/#portfolio-->

