﻿@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<footer>
    <div>
    <br />
    <br />
    <p align="center"><strong> AKSU SOKAK NO:81 PERÇİN MAHALLESİ</strong><br />
            <strong>AKÇAKOCA / DÜZCE </strong> <br />
            <strong><abbr title="Phone">Telefon:</abbr></strong>
          <strong> 0090 252 466 63 32</strong> </p>
        <p align="center"><strong>info@elifhotel.com </strong></p>
      
    </div>

  

</footer>
