﻿
@{
    ViewBag.Title = "KayıtBasarili";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h1 style="text-align:center">KAYIT BASARILI...</h1>
                
              

            </div>
        </div>

    </div>
</div>


