﻿
@model  ELIFOTEL.Models.Rezerve

@using ELIFOTEL.Models;
@{
    ViewBag.Title = "Rezerve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Load jQuery and bootstrap datepicker scripts -->
<script src="~/Scripts/jquery-1.9.1.min.js"></script>


<style>
    .mylabel {
        color: black;
    }
</style>



<body>

    <div>

        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
        {

            <div class="row">
                <div class="col-lg-3 col-md-3" style="text-align:left"></div>
                <div class="col-lg-9 col-md-9" style="margin-top: 50px;color:white; ">
                    <div class="container">
                        <form class="form-horizontal">
                            <div class="form-group">

                                <table style="width:600px;height:200px;" class="row">
                                
                                    
                                    
                                    <tr>

                                        <td class="col-lg-5">
                                            <label class="control-label" style="color: #887878;">ad: </label>

                                        </td>
                                        <td class=" col-lg-5" style="padding-left:0px;">
                                            <p>
                                                <label class="mylabel">
                                                    @Html.TextBoxFor(x =>x.RAd )<br />
                                                </label>
                                            </p>
                                        </td>
                                    </tr>

                                 
                                    <tr>
                                        <td class="col-lg-5">
                                            <label class="control-label" style="color: #887878;">Soyad: </label>

                                        </td>
                                        <td class=" col-lg-5" style="padding-left:0px;">
                                            <p>
                                                <label class="mylabel">
                                                    @Html.TextBoxFor(x => x.RSoyad) <br />
                                                </label>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-5">
                                            <label class="control-label" style="color: #887878;">Telefon: </label>

                                        </td>
                                        <td class=" col-lg-5" style="padding-left:0px;">
                                            <p>
                                                <label class="mylabel">
                                                    @Html.TextBoxFor(x => x.RTel) <br />
                                                </label>
                                            </p>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="col-lg-5">
                                            <label class="control-label" style="color: #887878;">Oda Tipi: </label>

                                        </td>
                                        <td class=" col-lg-5" style="padding-left:0px;">
                                            <p>
                                                <label class="mylabel">
                                                    @Html.TextBoxFor(x => x.ROda) <br />
                                                </label>
                                            </p>
                                        </td>
                                    </tr>

                                   
                                  

                                

                                    <tr>

                                        <td class="col-lg-5">
                                            <label class="control-label" style="color: #887878;">REZERVE EDİLECEK GÜN</label>
                                        </td>

                                        <td class="col-lg-5 col-md-5 col-sm-12" style="padding-left:0px;">
                                            <p>
                                                <label class="col-lg-5 col-sm-12 mylabel" style="padding-left:0px;">
                                                    @Html.TextBoxFor(x => x.RBaslangic, new { type = "datetime-local" })
                                                </label>
                                            </p>
                                        </td>
                                        <td class=" col-lg-2 col-md-2" style="padding-left:0px;color: #887878;">
                                            <p>
                                                <label class="col-lg-2 col-sm-12" style="padding-left:0px;">

                                                </label>
                                            </p>
                                        </td>
                                        <td class="col-lg-5 col-md-5 col-sm-12" style="padding-left:0px;">
                                            <p>
                                                <label class="col-lg-2 col-sm-12 mylabel" style="padding-left:0px;">
                                                    @Html.TextBoxFor(x => x.RBitis, new { type = "datetime-local" })
                                                </label>
                                            </p>
                                        </td>



                                    </tr>




                                    <tr>
                                        <td colspan="2" style="Text-align:right;">

                                            <button type="submit" class="btn btn-success">GÖNDER</button>


                                        </td>
                                        <td colspan="2" style="text-align:center">
                                            <button type="reset" class="btn btn-success">TEMİZLE</button>
                                        </td>
                                    </tr>

                                </table>


                            </div>


                        </form>
                    </div>
                </div>


            </div>
        }
    </div>
</body>
