﻿
@{
    ViewBag.Title = "Yeni Kullanıcı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uye</h2>
<br />
<br />
<form action="/Home/Uye" method="post">
    <label>ad:</label>
    <br />
    <input type="text" name="UyeAd"/>
    <br />
    <br />
    <label>soyad:</label>
    <br />
    <input type="text" name="UyeSoyad" />
    <br />
    <br />
    <label>mail:</label>
    <br />
    <input type="text" name="UyeMail" />
    <br />
    <br />
    <label>sifre:</label>
    <br />
    <input type="text" name="UyeSifre" />
    <br />
    <br />
    <input type="submit" value="kaydet" />
     
</form>
