﻿
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
<style type="text/css">
    #tasiyici {
        border: 1px solid black;
        width: 940px;
        margin: 0 auto;
    }

    #ust, #alt {
        border: 1px solid black;
        height: 100px;
    }

    #icerik {
        border: 1px solid black;
    }

    .baslik {
        float: left;
        color: Red;
    }

    #form {
        width: 155px;
        float: right;
        border: 1px solid black;
        margin: 10px 20px 0px 0px;
    }
</style>
</head>
<body>
    <div id="tasiyici">
        <div id="ust">
         
            <div id=”form”>
                @using (Html.BeginForm("Giris", "Home"))
                {
                    <input name="email" type="text" placeholder="E-mail Adresiniz" />
                    <input name="sifre" type="password" placeholder="Şifreniz" />
                    <input type="submit" value="Giriş" />
                }
            </div>
        </div>
     
       
    </div>
</body>
