﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> ELİF OTEL </title>
    <link href="@Url.Content("~/Content/")css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/")css/animate.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/")css/font-awesome.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/")css/lightbox.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/")css/main.css" rel="stylesheet">
    <link id="css-preset" href="@Url.Content("~/Content/")css/preset3.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/")css/responsive.css" rel="stylesheet">
    <link href='@Url.Content("~/Content/")' rel='stylesheet' type='text/ <%$Resources:Resource,dilSec %> '>
    <link rel="shortcut icon" href="@Url.Content("~/Content/")">
    <style>
        .button {

    border:thick;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
    </style>
</head>

<body>
  
    <header id="home">
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#992d1e;margin-bottom: 0px;height: 11px;">


            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div style="width:138px; height:10px;"><a class="navbar-brand" href="#myPage"></a></div>

                </div>
                <div class="collapse navbar-collapse" id="myNavbar" >
                    <ul class="nav navbar-nav navbar-right" style="text-align:center ;padding-bottom: 0px;">
                        <li style="padding-top:0px;">
                            @Html.ActionLink("GİRİŞ", "UyeGiris", "Home")
                            @Html.AntiForgeryToken()
                        </li>
                      
                    </ul>
                </div>
            </div>

        </nav>

            <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" style="background-image: url(../../Content/image/arka-plan.jpg)">
                        <div class="caption">
                            <h1 class="animated fadeInLeftBig"><span>ELİF OTEL'e</span>HOŞGELDİNİZ</h1>

                            <p>EVİNİZİN SICAKLIĞINDA</p>


                            <button class="button button1" onclick="location.href='@Url.Action("Rezerve", "Home")'">ONLİNE REZERVASYON</button>
                          
                        </div>
                    </div>
                </div>
                <div class="main-nav">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="@Url.Content("~/Home/Index/")">

                            </a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("Felsefemiz", "Felsefe", "Home")</li>
                                <li>@Html.ActionLink("Hizmetlerimiz", "Hizmet", "Home")</li>
                                <li>@Html.ActionLink("Odalarımız", "Odalar", "Home")</li>
                                <li>@Html.ActionLink("Fiyatlarımız", "Fiyat", "Home")</li>
                                <li>@Html.ActionLink("Galerimiz", "Galeri", "Home")</li>
                                <li>@Html.ActionLink("BİZE ULAŞIN", "Iletisim", "Home")</li>
                                <li>@Html.ActionLink("Kayıt Ol", "Uye", "Home")</li>





                            </ul>
                        </div>
                    </div>
                </div><!--/#main-nav-->
            </div>
      
</header>
  
    <div>
        @RenderBody()
    </div>
    <div class="copyrights wrapper">
        <p align="center"> Copyright © 2016 <a href="http://elifotel.com" target="_blank" class="ph_link" title=Daha fazla bilgi için:">elifhotel.com</a>. All Rights Reserved. </p>
    </div>
</body>

</html>
